.ticketCard {
  display: flex;
  padding: 1.5rem;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  .poster {
    object-fit: contain;
    border-radius: 8px;
  }
  .content {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
    width: 100%;
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      flex: 1 0 0;
      .genre {
        color: var(--text-primary, #1b1f23);
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.25rem;
      }
    }
    .removeTicketButton {
      cursor: pointer;
      padding-top: 0.12rem;
      background-color: transparent;
      border: none;
      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.removeModal {
  display: inline-flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 8px;
  background: var(--white, #fff);
  .modalTitle {
    display: flex;
    width: 18.5rem;
    justify-content: space-between;
    align-items: center;
    img {
      cursor: pointer;
    }
    span {
      color: var(--text-primary, #1b1f23);
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.25rem;
    }
  }
  .modalContent {
    color: var(--text-primary, #1b1f23);
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .modalButtons {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    button {
      display: flex;
      height: 2.5rem;
      padding: 0.5rem 1rem;
      align-items: center;
      gap: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--orange, #f50);
      color: var(--orange, #f50);
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
      cursor: pointer;
      background-color: #fff;
    }
    .orange {
      background: var(--orange, #f50);
      color: #fff;
    }
  }
}
