.ticketSum {
  display: flex;
  padding: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  border-radius: 8px;
  background: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin: 1.5rem 2.06rem;
}
