.filters {
  display: inline-flex;
  height: 53.875rem;
  padding: 1.5rem;
  width: calc(100vw * 1 / 5);
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
